body {
	padding: 5% 0;
	width:100%
	text-align: center;
	font-family: 'Muli', sans-serif;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpKg2OhSe9f_sQ5znUyCmiM7CmU814M8fECKBwWhCCvabp3PVvsw");
	background-size: cover;
	padding-bottom:60px;   /* Height of the footer */
}

textarea{
	width: 50em;
	height: 5em;
}