footer{
	background-color: black;
}

#creative{
	width: 5%;
}

.keRecicla{
	position: absolute;
	font-size: 52;
	line-height: 1;
	top: 170;
}

#searcher{
	position: absolute;
	line-height: 1;
	top: 300;
	width: 40em;
	left: 370;
}

button{
	position: absolute;
	line-height: 1;
	top: 300;
	right: 435;
}

.cont{
	position: absolute;
	line-height: 1;
	top: 325;
	left: 400;
}

.cre{
	position: absolute;
	line-height: 1;
	top: 325;
	right: 500;
}

.cent{
	width: 50%;
	margin: 0 auto;
	padding: 10% 0;
}

rgba(204,204,204,0.2)

#cover{
	padding: 5% 0;
	width:100%
	height: 100%;
	text-align: center;
	padding-bottom:60px;   /* Height of the footer */
	background-color: rgba(204,204,204,0.4);
}

body {
	padding: 5% 0;
	width:100%
	height: 100%;
	text-align: center;
	font-family: 'Muli', sans-serif;
	background-size: cover;
	padding-bottom:60px;   /* Height of the footer */
	background-color: rgba(204,204,204,0);
}

footer {
	position:absolute;
	bottom:0;
	width: 83em;
	height:60px;   /* Height of the footer */
	background: black;
}

#foot{
	color: white;
}