@media screen and (max-width: 2000px) {
	footer {
		position:absolute;
		bottom:0%;
		width: 99%;
		height: 8%;   /* Height of the footer */
		background: black;
	}

	#creative{
		width: 4%;
	}

	#cover{
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		padding-bottom:60%;   /* Height of the footer */
		background-color: rgba(204,204,204,0.4);
}

	body {
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		font-family: 'Muli', sans-serif;
		background-size: cover;
		padding-bottom: 8%;   /* Height of the footer */
	}

	#foot{
		color: grey;
		font-size:90%;
	}
}


@media screen and (max-width: 768px) {
	footer {
		position:absolute;
		bottom:0%;
		width: 99%;
		height: 8%;   /* Height of the footer */
		background: black;
	}

	#creative{
		width: 4%;
	}

	#cover{
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		padding-bottom:60%;   /* Height of the footer */
		background-color: rgba(204,204,204,0.4);
}

	body {
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		font-family: 'Muli', sans-serif;
		background-size: cover;
		padding-bottom: 8%;   /* Height of the footer */
	}

	#foot{
		color: grey;
		font-size:90%;
	}
}


@media screen and (max-width: 320px) {
	footer {
		position:absolute;
		bottom:0%;
		width: 99%;
		height: 8%;   /* Height of the footer */
		background: black;
	}

	#creative{
		width: 4%;
	}

	#cover{
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		padding-bottom:60%;   /* Height of the footer */
		background-color: rgba(204,204,204,0.4);
}

	body {
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: Left;
		font-family: 'Muli', sans-serif;
		background-size: cover;
		padding-bottom: 8%;   /* Height of the footer */
	}

	#foot{
		color: grey;
		font-size:90%;
	}
}


@media screen and (max-width: 1000px) {
	footer {
		position:absolute;
		bottom:0%;
		width: 99%;
		height: 8%;   /* Height of the footer */
		background: black;
	}

	#creative{
		width: 4%;
	}

	#cover{
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		padding-bottom:60%;   /* Height of the footer */
		background-color: rgba(204,204,204,0.4);
}

	body {
		padding: 5% 0;
		width:100%
		height: 100%;
		text-align: left;
		font-family: 'Muli', sans-serif;
		background-size: cover;
		padding-bottom: 8%;   /* Height of the footer */
	}

	#foot{
		color: grey;
		font-size:90%;
	}
}